:root {
  --color-green: #44ffa1;
  --color-slate-900: #24053e;
  --color-slate-500: #584d62;
  --color-slate-100: #fcf8ff;
  --color-white: #ffffff;
  --spacing-3700: 296px;
  --spacing-2100: 168px;
  --spacing-1800: 144px;
  --spacing-1600: 128px;
  --spacing-1400: 112px;
  --spacing-1100: 88px;
  --spacing-1000: 80px;
  --spacing-800: 64px;
  --spacing-700: 56px;
  --spacing-550: 44px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-350: 28px;
  --spacing-250: 20px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --font-size-desktop-text-preset-1: 80px;
  --font-size-desktop-text-preset-2: 56px;
  --font-size-desktop-text-preset-3: 32px;
  --font-size-desktop-text-preset-4: 18px;
  --font-size-desktop-text-preset-5: 18px;
  --font-size-tablet-text-preset-1: 60px;
  --font-size-tablet-text-preset-2: 48px;
  --font-size-tablet-text-preset-3: 28px;
  --font-size-tablet-text-preset-4: 16px;
  --font-size-mobile-text-preset-1: 48px;
  --font-size-mobile-text-preset-2: 32px;
  --font-size-mobile-text-preset-3: 24px;
  --font-size-mobile-text-preset-4: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

header {
  display: flex;/*Contenedor es Flex*/
  justify-content: space-between; /*Alinea cada elemento verticalmente*/ 
  align-items: center; /*Alinea cada elemento horizontalmente, quita distorsion que tenia logo*/
}

#button-header {
  font-size: 18px;
  line-height: 180%;
  font-weight: 600;
  font-family: 'Manrope';
  color: white;
  text-decoration: underline 2px var(--color-green);
  text-underline-offset: 5px;
}

#button-header:hover {
  color: #44FFA1;
  cursor: pointer;
}

.xlg-text {
  font-size: var(--font-size-mobile-text-preset-1);
  line-height: 100%;
  font-weight: 600;
  font-family: 'Fraunces 144pt';
  color: white;
}

.lg-text {
  font-size: var(--font-size-mobile-text-preset-2);
  font-weight: 600;
  line-height: 120%;
  font-family: 'Fraunces';
  color: white;
}

.mid-text {
  font-size: var(--font-size-mobile-text-preset-3);
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 16px;
  color: var(--color-slate-900);
}
.sm-text {
  width: 335px;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  margin-bottom: 32px;
  color: var(--color-slate-900);
  font-family: 'Manrope';
}

.number-1, 
.number-2, 
.number-3 {
  display: flex;
  font-family: 'Fraunces';
  font-size: 20px;
  font-weight: 600;
  line-height: 40%;
  border: 1px solid var(--color-slate-500);
  border-radius: 99px;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}

.text-founder {
  font-size: 16px;
  font-family: 'Manrope';
  font-weight: 400;
}

.main-container {
  display: grid;
  grid-template-areas: 
  'landing'
  'content'
  'founder'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  width: 100%; /*100% de la ventana*/
  max-width: 100%;/*No se pasa del 100% de la ventana*/
  overflow: hidden; /*Oculta desbordamiento del Main Container*/
  background: rgba(243, 242, 242, 0.89);
}

/*Control sobre Contenedores*/
.container-landing, 
.container-content,
.founder,
footer {
display: grid;
flex-direction: column;
max-width: 100%;
width: 100%;
overflow: hidden;
align-items: center;
}

.container-landing {
  display: grid;
  grid-area: landing;
  grid-template-areas: 
  'header'
  'text'
  'button'
  'phone';
  width: 100%;
  max-width: 100%;
  height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  position: relative;
  z-index: 1;
  margin-bottom: 64px;
}

.container-landing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #24053e;
  clip-path: ellipse(160% 85% at 50% 0%);
}

header {
  grid-area: header;
  width: 100%;
  height: auto;
  padding: 32px 20px 0 20px;
}

.text-landing .xlg-text {
  width: 335px;
  height: 97px;
  text-align: center;
  margin: 56px 20px 40px 20px;
}

.responsive {
  justify-items: center;
  position: relative;
}

.responsive #button-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-slate-900);
  line-height: 180%;
  width: 151px;
  height: 53px;
  margin-bottom: 248px;
  background-color: var(--color-green);
  border: solid #44ffa1;
}

#button-landing:hover {
  background-color: transparent;
  border: 2px solid var(--color-green, #44FFA1);
  color: #44FFA1;
  cursor: pointer;
}

#phone-landing {
  position: absolute;
  top: 117px;
  left: 27.49px;
  width: 320px;
  height: 184px;
}

.container-content {
  grid-area: content;
  display: grid;
  grid-template-areas: 
  '1'
  '2'
  '3';
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

#one, #two, #three {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.founder {
  grid-area: founder;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.founder-picture {
  width: 280px;
  margin-top: 112px;
}

.text-founder {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: -48px;
  background-color: var(--color-slate-900);
  width: 335px;
  height: 393px;
}

.text-founder .lg-text {
  margin-top: 32px;
  font-family: 'Fraunces 144pt';
}

.text-founder .sm-text {
  color: white;
  width: 271px;
  height: 174px;
  margin-top: 32px;
}

#button-founder {
  font-size: 16px;
  line-height: 180%;
  font-weight: 600;
  width: 191px;
  height: 53px;
  background-color: var(--color-green);
  border:solid #44FFA1;
  color: var(--color-slate-900);
}

#button-founder:hover {
  background-color: transparent;
  border: 2px solid var(--color-green, #44FFA1);
  color: #44FFA1;
  cursor: pointer;
}

footer {
  grid-area: footer;
  width: 100%;
  height: auto;
  display: flex;
}

.content-footer {
  display: flex;
  flex-direction: column;
  width: 116px;
  height: 100.6096px;
  margin: 80px 129.5008px;
  gap: 56px;
  justify-content: center;
  align-items: center;
}

#logo-footer {
  width: 95.76px;
  height: 24.6096px;
}

.icons-footer {
  display: flex;
  gap: 28px;
}

#facebook:hover {
  filter: invert(10%) sepia(90%) saturate(900%) hue-rotate(250deg) brightness(80%) contrast(100%);
}

#instagram:hover {
  filter: invert(10%) sepia(90%) saturate(900%) hue-rotate(250deg) brightness(80%) contrast(100%);
}


#twitter:hover {
  filter: invert(10%) sepia(90%) saturate(900%) hue-rotate(250deg) brightness(80%) contrast(100%);
}

#pattern-1,
#pattern-2,
#pattern-3 {
  display: none;
}

/*------------------------------------TABLET------------------*/

@media (min-width: 768px) and (max-width: 1023px) {
  #pattern-1,
  #pattern-2,
  #pattern-3 {
    display: block;
}

.container-landing {
  height: 676px;
  background-color: white;
  margin-bottom: 0px;
}

.container-landing::after {
  clip-path: ellipse(110% 71% at 50% 0%);
}

.text-landing {
  justify-self: center;
  width: 635px;
  height: 121px;
  margin: 0 0px 40px 0;
}

.text-landing .xlg-text {
  width: 100%;
  height: 100%;
  padding: 0 50px 0 50px;
  font-size: 60px;
  margin: 0 0 40px 0;
}

#tailored {
  text-decoration: underline 3px var(--color-green);
  text-underline-offset: 5px;
}

#phone-landing {
  position: static;
  width: 29.99431rem;
  height: 17.91269rem;
  margin-top: -200px;
}

#pattern-1,
#pattern-3 {
  position: absolute;
}

#pattern-1 {
  top: -200px;
  left: -227px;
}

#pattern-3 {
  top: -10%;
  left: 90%;
}

.container-content {
  z-index: 1;
  position: relative;
  padding-top: 56px;
}

.container-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: white;
  clip-path: ellipse(110% 100% at 50% 0%);
}

#one, #two, #three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 680px;
  height: 120px;
  margin: 0 44px 32px 44px;
}

#three {
  margin-bottom: 72px;
}

.number-1, .number-2, .number-3 {
  margin: 36px 56px 36px 0px;
}

.text-number {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.mid-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 28px;
  line-height: 120%;
}

.container-content .sm-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 576px;
  height: 58px;
}

.founder {
  position: relative;
  overflow: visible;
}

#pattern-2 {
  position: absolute;
  top: 85%;
  left: 60%;

}

.founder-picture {
  margin-left: 44px;
  align-self: flex-start;
}

.text-founder {
  width: 504px;
  height: 390px;
  margin-right: 44px;
  align-self: flex-end;
  padding-bottom: 48px;
  text-align: left;
  margin-top: -110px;
}

.text-founder .lg-text {
  font-size: 48px;
  margin-left: 48px;
  margin-top: 48px;
  align-self: flex-start;
}

.text-founder .sm-text {
  align-self: flex-start;
  margin-left: 48px;
  width: 408px;
  height: 116px;
}

#button-founder {
  align-self: flex-start;
  margin-left: 44px;
}
}
/*------------------------------------------------------------------------------Desktop--------------------------*/
@media (min-width: 1024px) and (max-width: 2565px) {
  #pattern-1,
  #pattern-2,
  #pattern-3 {
    display: block;
}

header {
  padding: 32px 160px 0 160px;
  margin-bottom: 56px;
}

.container-landing {
  height: 676px;
  height: 932px;
  background-color: white;
  margin-bottom: 0px;
}

.container-landing::after {
  clip-path: ellipse(110% 71% at 50% 0%);
}

.text-landing {
  justify-self: center;
  width: 635px;
  height: 161px;
  margin: 0 0px 0px 0;
}

.text-landing .xlg-text {
  width: 100%;
  height: 100%;
  font-size: 80px;
  margin: 0 0 0px 0;
  line-height: 100%;
}

.responsive {
  margin-top: 40px;
}

#button-landing {
  width: 162px;
  height: 56px;
}

#tailored {
  text-decoration: underline 3px var(--color-green);
  text-underline-offset: 5px;
}

#phone-landing {
  position: static;
  width: 767px;
  height: 441px;
  margin-top: -200px;
}

#pattern-1,
#pattern-3 {
  position: absolute;
}

#pattern-1 {
  top: -200px;
  left: -100px;
}

#pattern-3 {
  top: -10%;
  left: 90%;
}

.container-content {
  display: flex;
  flex-direction: row;
  place-content: center;
  z-index: 1;
  position: relative;
  padding-top: 56px;
}

.container-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: white;
  clip-path: ellipse(110% 100% at 50% 0%);
}

#one, #two, #three {
  display: flex;
  flex-direction: column;
  width: 352px;
  height: 306px;
  margin: 0 0px 0px 0px;
}

#three {
  margin-bottom: 0px;
}

.text-number {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.mid-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 32px;
  line-height: 120%;
}

.container-content .sm-text {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 352px;
  height: 128px;
}

.founder {
  position: relative;
  overflow: visible;
}

#pattern-2 {
  position: absolute;
  top: 79%;
  left: 67%;
}

.founder-picture {
  width: 477px;
  margin-left: 160px;
  align-self: flex-start;
}

.text-founder {
  width: 730px;
  height: 411px;
  margin-right: 160px;
  align-self: flex-end;
  padding-bottom: 48px;
  text-align: left;
  margin-top: -300px;
}

.text-founder .lg-text {
  font-size: 56px;
  margin-left: 48px;
  margin-top: 48px;
  align-self: flex-start;
}

.text-founder .sm-text {
  font-size: 18px;
  align-self: flex-start;
  margin-left: 48px;
  width: 602px;
  height: 96px;
}

#button-founder {
  width: 207px;
  height: 56px;
  align-self: flex-start;
  margin-left: 44px;
  margin-top: 22px;
}

}




